.favorites, .favorites-show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 19;
}
.favorites .favorites__shadow, .favorites-show .favorites__shadow {
  height: 100vh;
  width: 100%;
}
.favorites .favorites__block, .favorites-show .favorites__block {
  position: absolute;
  top: 0;
  left: -300px;
  max-width: 400px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  -webkit-box-shadow: 2px 2px 4px black;
          box-shadow: 2px 2px 4px black;
  border-radius: 0 20px 20px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 29;
}
.favorites .favorites__block .favorites__title, .favorites-show .favorites__block .favorites__title {
  padding: 10px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
}

.favorites-show {
  opacity: 100;
  visibility: visible;
}
.favorites-show .favorites__block {
  left: 0;
  visibility: visible;
  opacity: 100;
}