$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$transition:  all 0.2s ease-in-out;

//FAVORITES
.favorites {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 19;
    animation: appearence 0.3s ease-out 1 forwards;
    @keyframes appearence {
        100%{
            opacity: 1;
            visibility: visible;
        }
    }
    .favorites__shadow {
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .favorites__block {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 400px;
        height: 100%;
        overflow: auto;
        // box-sizing: border-box;
        background-color: white;
        box-shadow: 2px 2px 4px black;
        border-radius: 0 20px 20px 0;
        z-index: 29;
        // opacity: 0;
        transform: translateX(-100%);
        animation: favoritesBlock 0.4s ease-out 1 forwards 0.2s;
        @keyframes favoritesBlock {
            100%{
                // opacity: 1;
                transform: translateX(0);
            }
        }
        .favorites__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: $borderBar;
            div {
                font-size: 0;
            }
            svg {
                position: relative;
                border-radius: 10px;
                transition: $transition;
                cursor: pointer;
                &:hover {
                    box-shadow: 1px 1px 1px gray;
                    transform: translateY(-1px);
                }
            }
        }
        .favorites__goods {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            img {
                width: 40%;
                height: fit-content;
                align-self: center;
            }
        }
    }
}