$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$maxWidth: 1200px;

.common {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 0 10px;
    header {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: inherit;
        border: none;
        padding: 0;
        div {
            width: 100%;
            border-top: $borderBar;
            margin: 0 10px;
        }
    }
    article {
        section {
            display: flex;
            padding: 10px 0;
            border-top: $borderBar;
            &:first-child {
                border-top: none;
            }
        }
        .about__image, .delivery__image {
            position: relative;
            width: 100%;
            max-width: 400px;
            margin: 0 10px;
            min-height: 250px;
            border-radius: 20px;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h2 {background: rgb(245,245,245);
            background: linear-gradient(90deg, rgb(253, 242, 204) 0%, rgb(255,255,255) 100%);
            padding: 5px 10px;
            border-radius: 5px;
        }
        p {
            margin-top: 5px;
            text-align: justify;
            text-indent: 1.5em;
        }
        .about__goal, .about__ingredients {
            flex-direction: column;
            .about__image {
                max-width: none;
                margin: 0;
                margin-top: 5px;
                min-height: 300px;
            }
        }
    }
    .vacancies {
        section {
            &:last-child {
                border-bottom: none;
            }
        }
        ul {
            flex: 1;
            margin-left: 10px;
            li {
                list-style: circle;
                margin-left: 20px;
                min-width: max-content;
            }
        }
        .vacancies__benefits {
            flex-wrap: wrap;
            justify-content: space-evenly;
            .vacancies__about {
                max-width: 50%;
                min-width: 300px;
            }
            ul {
                margin-left: 20px;
                flex: 0;
                max-width: fit-content;
            }
        }
        .vacancies__image {
            width: 126px;
            height: 200px;
            img {
                width: 100%;
            }
        }
        .vacancies__content {
            flex: 1 1 auto;
            margin-left: 10px;
        }
        .vacancies__description {
            display: flex;
            width: 100%;
        }
    }

}
.common__error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 50px;
    text-align: center;
    border-top: $borderBar;
    img {
        width: 100%;
        max-width: 300px;
        margin: 10px;
    }
    button {
        margin-top: 10px;
        padding: 15px;
    }
}

@media (max-width: 890px) {
    .vacancies__description {
        flex-direction: column;
    }
    .common .vacancies .vacancies__benefits {
        justify-content: flex-start;
        .vacancies__about {
            max-width: 100%;
        }
        ul {
            margin-left: 0;
            flex: 1;
            max-width: 100%;
        }
    }
}
@media (max-width: 650px) {
    .common {
        article {
            .about__cook, .delivery__hotPizza {
                flex-wrap: wrap;
            }
            .about__clean, .delivery__deliveryman {
                flex-wrap: wrap-reverse;
            }
            .about__image, .delivery__image {
                max-width: none;
                margin-top: 10px;
            }
            .about__ingredients {
                .about__image {
                    min-height: 250px;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .common {
        p {
            font-size: 0.9em;
        }
        .vacancies {
            .vacancies__benefits {
                .vacancies__about {
                    flex: 1 1 auto;
                }
            }
            .vacancies__image {
                min-width: 25%;
            }
            ul {
                li {
                    min-width: 75%;
                    line-height: 1.1;
                    font-size: 0.9em;
                }
            }
        }
    }
}