.common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.common header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: inherit;
  border: none;
  padding: 0;
}
.common header div {
  width: 100%;
  border-top: 1px solid rgba(64, 64, 64, 0.2);
  margin: 0 10px;
}
.common article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  border-top: 1px solid rgba(64, 64, 64, 0.2);
}
.common article section:first-child {
  border-top: none;
}
.common article .about__image, .common article .delivery__image {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 10px;
  min-height: 250px;
  border-radius: 20px;
  overflow: hidden;
}
.common article .about__image img, .common article .delivery__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.common article h2 {
  background: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left top, right top, from(rgb(230, 242, 255)), to(rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgb(230, 242, 255) 0%, rgb(255, 255, 255) 100%);
  padding: 5px 10px;
  border-radius: 5px;
}
.common article p {
  margin-top: 5px;
  text-align: justify;
  text-indent: 1.5em;
}
.common article .about__goal, .common article .about__ingredients {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.common article .about__goal .about__image, .common article .about__ingredients .about__image {
  max-width: none;
  margin: 0;
  margin-top: 5px;
  min-height: 300px;
}
.common .vacancies section:last-child {
  border-bottom: none;
}
.common .vacancies ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
}
.common .vacancies ul li {
  list-style: circle;
  margin-left: 20px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.common .vacancies .vacancies__benefits {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.common .vacancies .vacancies__benefits .vacancies__about {
  max-width: 50%;
  min-width: 300px;
}
.common .vacancies .vacancies__benefits ul {
  margin-left: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.common .vacancies .vacancies__image {
  width: 126px;
  height: 200px;
}
.common .vacancies .vacancies__image img {
  width: 100%;
}
.common .vacancies .vacancies__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 10px;
}
.common .vacancies .vacancies__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.common__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 50px;
  text-align: center;
  border-top: 1px solid rgba(64, 64, 64, 0.2);
}
.common__error img {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}
.common__error button {
  margin-top: 10px;
  padding: 15px;
}

@media (max-width: 890px) {
  .vacancies__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .common .vacancies .vacancies__benefits {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .common .vacancies .vacancies__benefits .vacancies__about {
    max-width: 100%;
  }
  .common .vacancies .vacancies__benefits ul {
    margin-left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 100%;
  }
}
@media (max-width: 650px) {
  .common article .about__cook, .common article .delivery__hotPizza {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .common article .about__clean, .common article .delivery__deliveryman {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .common article .about__image, .common article .delivery__image {
    max-width: none;
    margin-top: 10px;
  }
  .common article .about__ingredients .about__image {
    min-height: 250px;
  }
}
@media (max-width: 500px) {
  .common p {
    font-size: 0.9em;
  }
  .common .vacancies .vacancies__benefits .vacancies__about {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .common .vacancies .vacancies__image {
    min-width: 25%;
  }
  .common .vacancies ul li {
    min-width: 75%;
    line-height: 1.1;
    font-size: 0.9em;
  }
}