$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$transition:  all 0.2s ease-in-out;

.UserHistory {
    flex: 1 1 auto;
    height: fit-content;
    margin-left: 20px;
    .UserHistory__section {
        box-shadow: 1px 1px 2px gray;
        padding: 20px;
        border: $borderBar;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 5px;
    }
}

@media (max-width: 500px) {
    .UserHistory {
        padding: 0 10px 10px;
        margin-left: 0;
        .UserHistory__section {
            padding: 10px;
        }
    }
}