.goods__item, .goods__item-added {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 2px rgb(187, 187, 187);
          box-shadow: 1px 1px 2px rgb(187, 187, 187);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.goods__item:hover, .goods__item-added:hover {
  border: 1px solid rgba(64, 64, 64, 0.2);
  -webkit-box-shadow: 2px 2px 4px gray;
          box-shadow: 2px 2px 4px gray;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.goods__item img, .goods__item-added img {
  width: 100%;
}
.goods__item .goodsItem__description, .goods__item-added .goodsItem__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.goods__item {
  max-width: 280px;
}
.goods__item .goodsItem__description {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.goods__item-added {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.goods__item-added img {
  width: 40%;
}
.goods__item-added .goodsItem__description {
  width: 60%;
  min-width: 70px;
}

svg {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.goods__favorite svg {
  fill: none;
}

.goods__favorite-checked svg {
  fill: rgb(255, 160, 160);
}

.goods__name {
  text-align: center;
}

.goods__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods__size input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(64, 64, 64, 0.2);
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 35px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.goods__size input:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
}
.goods__size input:checked {
  background-color: rgb(255, 249, 213);
}
.goods__size input::before {
  content: attr(label);
}

.goods__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 10px;
}
.goods__cost h3 {
  min-width: 75px;
  margin-right: 5px;
}
.goods__cost button {
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}