.goods__item, .goods__item-favorite, .goods__item-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 2px rgb(187, 187, 187);
          box-shadow: 1px 1px 2px rgb(187, 187, 187);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.goods__item:hover, .goods__item-favorite:hover, .goods__item-cart:hover {
  border: 1px solid rgba(64, 64, 64, 0.2);
  -webkit-box-shadow: 2px 2px 4px gray;
          box-shadow: 2px 2px 4px gray;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.goods__item img, .goods__item-favorite img, .goods__item-cart img {
  width: 100%;
}
.goods__item .goodsItem__description, .goods__item-favorite .goodsItem__description, .goods__item-cart .goodsItem__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.goods__item svg, .goods__item-favorite svg, .goods__item-cart svg {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.goods__item {
  max-width: 280px;
}
.goods__item img {
  min-height: 258px;
  min-width: 258px;
}
.goods__item .goodsItem__description {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.goods__item-favorite, .goods__item-cart {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 300px;
}
.goods__item-favorite img, .goods__item-cart img {
  width: 40%;
}
.goods__item-favorite .goodsItem__description, .goods__item-cart .goodsItem__description {
  width: 60%;
  min-width: 70px;
}

.goods__item-cart {
  margin: 0 10px 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 380px;
}
.goods__item-cart button {
  display: none;
}

.goods__favorite svg {
  fill: none;
}

.goods__favorite-checked svg {
  fill: rgb(255, 160, 160);
}

.goods__name {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.goods__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods__size input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(64, 64, 64, 0.2);
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 35px;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.goods__size input:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
}
.goods__size input:checked {
  background-color: rgb(255, 249, 213);
}
.goods__size input::before {
  content: attr(label);
}

.goods__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 10px;
}
.goods__cost h3 {
  min-width: 75px;
  margin-right: 5px;
}
.goods__cost button {
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.goods__item-favorite-counterBlock, .goods__item-counterBlock {
  display: none;
}

.goods__itemBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.goods__itemBlock .goods__item-cart-counterBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}
.goods__itemBlock .goods__item-cart-counterBlock .order__goodsDelete {
  font-size: 0;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.goods__itemBlock .goods__item-cart-counterBlock .order__goodsDelete:hover {
  -webkit-box-shadow: 1px 1px 1px gray;
          box-shadow: 1px 1px 1px gray;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.goods__itemBlock .goods__item-cart-counterBlock .order__goodsCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(64, 64, 64, 0.2);
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
  height: 90px;
}
.goods__itemBlock .goods__item-cart-counterBlock .order__goodsCounter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(120, 120, 120);
}
.goods__itemBlock .goods__item-cart-counterBlock .order__goodsCounter div:first-child, .goods__itemBlock .goods__item-cart-counterBlock .order__goodsCounter div:last-child {
  background-color: rgb(245, 245, 245);
  height: 30%;
  cursor: pointer;
}
.goods__itemBlock .goods__item-cart-counterBlock .order__goodsCounter div:first-child:hover, .goods__itemBlock .goods__item-cart-counterBlock .order__goodsCounter div:last-child:hover {
  background-color: rgb(240, 240, 240);
}

@media (max-width: 610px) {
  .goods__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 100%;
    min-width: 250px;
    margin: 5px 0;
  }
  .goods__item img {
    width: 40%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 58px;
    min-width: 58px;
  }
  .goods__item .goodsItem__description {
    width: 60%;
    min-width: 60px;
  }
}
@media (max-width: 450px) {
  .goods__item, .goods__item-favorite, .goods__item-cart {
    padding: 5px;
  }
  .goods__item .goods__size, .goods__item-favorite .goods__size, .goods__item-cart .goods__size {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .goods__item .goods__size input, .goods__item-favorite .goods__size input, .goods__item-cart .goods__size input {
    max-width: 60px;
  }
  .goods__item:hover, .goods__item-favorite:hover, .goods__item-cart:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .goods__item .goodsItem__description p, .goods__item-favorite .goodsItem__description p, .goods__item-cart .goodsItem__description p {
    font-size: 14px;
  }
  .goods__item .goodsItem__description .goods__size input, .goods__item-favorite .goodsItem__description .goods__size input, .goods__item-cart .goodsItem__description .goods__size input {
    font-size: 12px;
    margin: 2px;
  }
  .goods__item .goodsItem__description .goods__cost h3, .goods__item-favorite .goodsItem__description .goods__cost h3, .goods__item-cart .goodsItem__description .goods__cost h3 {
    min-width: 65px;
  }
  .goods__item .goodsItem__description .goods__cost button, .goods__item-favorite .goodsItem__description .goods__cost button, .goods__item-cart .goodsItem__description .goods__cost button {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .goods__item svg, .goods__item-favorite svg {
    left: 0;
  }
}