$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$transition:  all 0.2s ease-in-out;

//GOODS ITEM
.goods__item, .goods__item-favorite, .goods__item-cart {
    display: flex;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    // align-items: center;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px rgb(187, 187, 187);
    transition: $transition;
    &:hover {
        border: $borderBar;
        box-shadow: 2px 2px 4px gray;
        transform: translateY(-4px);
    }
    img {
        width: 100%;
    }
    .goodsItem__description {
        display: flex;
        flex-direction: column;
    }
    svg {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}
.goods__item {
    max-width: 280px;
    img {
        min-height: 258px;
        min-width: 258px;
    }
    .goodsItem__description {
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
}
.goods__item-favorite, .goods__item-cart {
    flex-direction: row;
    min-width: 300px;
    img {
        width: 40%;
    }
    .goodsItem__description {
        width: 60%;
        min-width: 70px;
    }
}
.goods__item-cart {
    margin: 0 10px 10px 0;
    align-items: center;
    min-width: 380px;
    button {
        display: none;
    }
}
.goods__favorite {
    svg {
        fill: none;
    }
}
.goods__favorite-checked {
    svg {
        fill: rgb(255, 160, 160);
    }
}
.goods__name {
    text-align: center;
    flex: 1 1 auto;
    // height: 70px;
}
.goods__size {
    display: flex;
    // flex-wrap: wrap;
    .goods__size-wrapper {
        display: flex;
        position: relative;
        width: 100%;
        .goods__size-counter {
            position: absolute;
            top: 0;
            right: 0;
            border: 1px solid rgb(200, 140, 140);
            border-radius: 50%;
            font-size: 12px;
            font-weight: 500;
            text-align: center;
            background-color: rgb(255, 255, 255);
            min-width: 20px;
            height: 20px;
        }
    }
    input {
        display: flex;
        justify-content: center;
        align-items: center;
        appearance: none;
        border: $borderBar;
        width: 100%;
        min-width: fit-content;
        height: 35px;
        margin: 5px;
        padding: 5px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: $transition;
        &:hover {
            transform: translateY(-2px);
            box-shadow: 1px 1px 2px gray;
        }
        &:checked {
            background-color: rgb(255, 249, 213);
            // transform: translateY(0);
            // box-shadow: 1px 1px 2px gray inset;
        }
        &::before {
            content: attr(label);
        }
    }
}
.goods__cost{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    h3 {
        min-width: 75px;
        margin-right: 5px;
    }
    button {
        width: 100%;
        min-width: fit-content;
    }
    .goods__goodsCounter {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-width: fit-content;
        border: $borderBar;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            color: rgb(120, 120, 120);
        }
        div:first-child, div:last-child {
            background-color: rgb(245, 245, 245);
            width: 30%;
            cursor: pointer;
            transition: $transition;
            &:hover {
                background-color: rgb(230, 230, 230);
            }
        }
    }
}
.goods__item-favorite-counterBlock, .goods__item-counterBlock {
    display: none;
}
.goods__itemBlock {
    display: flex;
    .goods__item-cart-counterBlock {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        .order__goodsDelete {
            font-size: 0;
            border-radius: 10px;
            transition: $transition;
            cursor: pointer;
            &:hover {
                box-shadow: 1px 1px 1px gray;
                transform: translateY(-2px);
            }
        }
    }
}

@media (max-width: 610px) {
    .goods__item {
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: 250px;
        margin: 5px 0;
        img {
            width: 40%;
            height: fit-content;
            min-height: 58px;
            min-width: 58px;
        }
        .goodsItem__description {
            width: 60%;
            min-width: 60px;
        }

    }
}

@media (max-width: 450px) {
    .goods__item, .goods__item-favorite, .goods__item-cart {
        padding: 5px;
        .goods__size {
            // flex-wrap: wrap;
            .goods__size-wrapper {
                // max-width: 60px;
            }
        }
        &:hover {
            transform: none;
            box-shadow: none;
        }
        .goodsItem__description {
            p {
                font-size: 14px;
            }
            .goods__size {
                input {
                    font-size: 12px;
                    margin: 2px;
                }
            }
            .goods__cost {
                h3 {
                    min-width: 65px;
                }
                button {
                    font-size: 14px;
                }
            }
        }

    }
}
@media (max-width: 350px) {
    .goods__item, .goods__item-favorite {
        svg {
            left: 0;
        }
    }
}