.header {
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid rgba(64, 64, 64, 0.2);
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .header__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__cover .header__social, .header .header__cover .header__account, .header .header__cover .header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header__cover .header__social p, .header .header__cover .header__account p, .header .header__cover .header__about p {
  margin-right: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.header .header__cover .header__social svg, .header .header__cover .header__social img, .header .header__cover .header__account svg, .header .header__cover .header__account img, .header .header__cover .header__about svg, .header .header__cover .header__about img {
  height: 25px;
  margin: 0 5px;
  cursor: pointer;
}
.header .header__cover ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.header .header__cover ul li {
  cursor: pointer;
}

@media (max-width: 700px) {
  .header .header__social p {
    display: none;
  }
}
@media (max-width: 480px) {
  .header .header__about li {
    font-size: 14px;
  }
  .header .header__account p {
    display: none;
  }
}
@media (max-width: 350px) {
  .header .header__about li {
    font-size: 12px;
  }
}