$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$textColor: rgb(64, 64, 64);
$textColorWhite: rgb(240, 240, 240);
$borderColor: rgba(64, 64, 64, 0.2);
$transition:  all 0.2s ease-in-out;
$maxWidth: 1200px;

//COMMON CLASSES
.cover {
    max-width: $maxWidth;
    margin: 0 auto;
    height: 100%;
}
.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.bannerBlock {
    max-width: $maxWidth;
    margin: 0 auto;
    padding-top: 10px;
    .carousel {
        margin: 0 10px;
        border-radius: 20px;
        overflow: hidden;
    }
}
@media (max-width: 800px) {
    .carousel-indicators {
        margin-bottom: 5px;
    }
    .carousel-indicators [data-bs-target] {
        width: 15px;
    }
}
// .loader {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex: 1 1 auto;
// }
