.cover {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.bannerBlock {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}
.bannerBlock .carousel {
  margin: 0 10px;
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .carousel-indicators {
    margin-bottom: 5px;
  }
  .carousel-indicators [data-bs-target] {
    width: 15px;
  }
}