$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$textColor: rgb(64, 64, 64);
$textColorWhite: rgb(240, 240, 240);
$borderColor: rgba(64, 64, 64, 0.2);
$transition:  all 0.2s ease-in-out;
$maxWidth: 1200px;

//COMMON CLASSES
.cover {
    max-width: $maxWidth;
    margin: 0 auto;
    height: 100%;
}

//HEADER
header {
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-top: $borderBar;
    border-bottom: $borderBar;
    height: 40px;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .header__social, .header__account, .header__about {
            display: flex;
            p {
                margin-right: 5px;
                align-self: center;
            }
            img {
                margin: 0 5px;
                cursor: pointer;
            }
        }
        ul {
            flex: 1 1 auto;
            max-width: 500px;
            justify-content: space-evenly;
            li {
                cursor: pointer;
            }
        }
    }
}

//INFORMATION BLOCK
.information {
    display: flex;
    justify-content: space-between;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 10px;
    height: 100px;
    .information__logo{
        cursor: pointer;
        img {
            height: 100%;
            margin-right: 10px;
        }
    }
    .information__contacts, .information__goodsChoice {
        display: flex;
        // position: relative;
        justify-content: space-evenly;
        align-items: center;
    }
    .information__contacts {
        max-width: 800px;
        flex: 1 1 auto;
        .information__phones, .information__workTime {
            display: flex;
            align-items: center;
            img {
                margin: 0 10px;
            }
        }
    }
    .information__goodsChoice {
        flex: 1 1 auto;
        max-width: 130px;
        min-width: 110px;
        justify-content: space-between;
        .information__favorite, .information__cart {
            position: relative;
            border-radius: 10px;
            height: 50px;
            transition: $transition;
            cursor: pointer;
            &:hover {
                transform: translateY(-2px);
                box-shadow: 1px 1px 2px gray;
            }
        }
        .information__counter {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            border: $borderBar;
            background-color: white;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            bottom: -5px;
            right: -10px;
            p {
                line-height: 1;
                font-size: 12px;
            }
        }
    }
}

//NAVIGATION BAR
nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-top: $borderBar;
    border-bottom: $borderBar;
    height: 40px;
    .cover {
        display: flex;
    }
    .nav__category {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        li {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
            padding: 5px 10px;
            cursor: pointer;
            transition: $transition;
            img {
                height: 100%;
                margin-right: 10px;
            }
            h3 {
                color: $textColorWhite;
            }
            &:hover {
                background-color: rgb(70, 70, 70);
            }
        }
    }
    input {
        background: url(../../public/img/lens.svg) no-repeat left white;
        padding-left: 30px;
        padding-right: 10px;
        border: none;
        border-radius: 10px;
        height: 30px;
        font-size: 14px;
        color: $textColor;
        align-self: center;
        margin: 0 10px;
    }
    .nav_sort {
        display: flex;
        position: relative;
        align-items: center;
        color: $textColorWhite;
        font-weight: 600;
        font-size: 1.2em;
        padding: 0 10px;
        cursor: pointer;
        ul {
            position: absolute;
            top: calc(100% + 1px);
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            width: 100%;
            border-radius: 0 0 10px 10px;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            transition: $transition;
            li {
                color: $textColorWhite;
                font-weight: 400;
                padding: 10px;
                border-top: 1px solid white;
                transition: $transition;
                &:hover {
                    background-color: rgb(70, 70, 70);
                }
            }
        }
        &:hover {
            background-color: rgb(70, 70, 70);
            ul {
                visibility: visible;
                opacity: 100;
            }
        }
    }
}

//GOODS BLOCK
.goods {
    max-width: $maxWidth;
    margin: 0 auto;
    .goods__tittle {
        display: flex;
        align-items: center;
        padding: 5px 0;
        div {
            height: 0;
            border-bottom: $borderBar;
            flex: 1 1 auto;
            margin: 0 20px;
        }
    }
    .goods__itemBlock {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .goods__item {
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            align-items: center;
            border: 1px solid rgb(230, 230, 230);
            border-radius: 20px;
            margin: 10px;
            padding: 10px;
            max-width: 280px;
            box-shadow: 1px 1px 2px rgb(187, 187, 187);
            transition: $transition;
            &:hover {
                border: $borderBar;
                box-shadow: 2px 2px 4px gray;
                transform: translateY(-4px);
            }
        }
        img {
            width: 100%;
        }
        .goods__name {
            text-align: center;
        }
        .goods__size {
            display: flex;
            input {
                display: flex;
                justify-content: center;
                align-items: center;
                appearance: none;
                border: $borderBar;
                width: 70px;
                height: 35px;
                margin: 5px;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                transition: $transition;
                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 1px 1px 2px gray;
                }
                &:checked {
                    background-color: rgb(255, 245, 190);
                    transform: translateY(0);
                    box-shadow: 1px 1px 2px gray inset;
                }
                &::before {
                    content: attr(label);
                }
            }
        }
        .goods__cost{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            h3 {
                min-width: 75px;
                margin-right: 10px;
            }
            button {
                width: 100%;
            }
        }
    }
    .goods__pages {
        display: flex;
        justify-content: center;
        max-width: $maxWidth;
        margin: 0 auto;
        margin: 10px;
        input {
            display: flex;
            justify-content: center;
            align-items: center;
            border: $borderBar;
            border-radius: 10px;
            width: 35px;
            height: 35px;
            margin: 0 5px;
            line-height: 1;
            appearance: none;
            cursor: pointer;
            transition: $transition;
            &:hover {
                transform: translateY(-2px);
                box-shadow: 1px 1px 2px gray;
            }
            &:checked {
                background-color: rgb(255, 245, 190);
                transform: translateY(0);
                box-shadow: 1px 1px 2px gray inset;
            }
            &::before {
                content: attr(label);
            }
        }
    }
}