.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.user .user__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.user .user__header div {
  height: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
  margin: 0 20px;
}
.user .user__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}
.user .user__main h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, rgb(236, 236, 236)), to(white));
  background: linear-gradient(90deg, white 0%, rgb(236, 236, 236) 50%, white 100%);
}
.user .user__main .user__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
}
.user .user__main .user__navigation a, .user .user__main .user__navigation button {
  color: rgb(70, 70, 70);
  font-weight: 500;
  margin-left: 10px;
}
.user .user__main .user__navigation .user__menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}
.user .user__main .user__navigation .user__menuItem p {
  margin-left: 5px;
}
.user .user__main .user__navigation .user__menuItem:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  text-decoration: underline;
}