$textColor: rgba(70, 70, 70);
$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$transition:  all 0.2s ease-in-out;

.user {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .user__header {
        display: flex;
        align-items: center;
        width: 100%;
        div {
            height: 0;
            flex: 1 1 auto;
            border-bottom: $borderBar;
            margin: 0 20px;
        }
    }
    .user__main {
        flex: 1 1 auto;
        display: flex;
        padding: 10px;
        h2 {
            text-align: center;
            padding: 10px;
            margin-bottom: 10px;
            background: linear-gradient(90deg, white 0%, rgb(236, 236, 236) 50%, white 100%);
        }
        .user__navigation {
            display: flex;
            flex-direction: column;
            padding-right: 10px;
            a, button {
                color: $textColor;
                font-weight: 500;
                margin-left: 10px;
            }
            .user__menuItem {
                display: flex;
                margin: 5px 0;
                p {
                    margin-left: 5px;
                }
                &:hover {
                    filter: brightness(0.5);
                    text-decoration: underline;
                }
            }
        }
    }
}