.nav__bar {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(64, 64, 64, 0.2);
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 9;
}
.nav__bar .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__bar h3 {
  color: rgb(240, 240, 240);
}
.nav__bar .nav__category, .nav__bar .nav__category-disabled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__bar .nav__category li, .nav__bar .nav__category-disabled li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav__bar .nav__category li img, .nav__bar .nav__category-disabled li img {
  height: 100%;
  margin-right: 10px;
}
.nav__bar .nav__category li:hover, .nav__bar .nav__category-disabled li:hover {
  background-color: rgba(255, 170, 43, 0.2);
}
.nav__bar .nav__category .nav__category-selected, .nav__bar .nav__category-disabled .nav__category-selected {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 170, 43, 0.2);
}
.nav__bar .nav__category-disabled li {
  cursor: auto;
}
.nav__bar .nav__category-disabled li:hover {
  background-color: inherit;
}
.nav__bar .nav__category-disabled li h3, .nav__bar .nav__category-disabled li img {
  opacity: 0.3;
}
.nav__bar input {
  background: url(../../assets/img/lens.svg) no-repeat left white;
  padding-left: 30px;
  padding-right: 10px;
  border: none;
  border-radius: 10px;
  height: 30px;
  font-size: 14px;
  color: rgb(64, 64, 64);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 10px;
}
.nav__bar .nav_sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  cursor: pointer;
  z-index: 9;
}
.nav__bar .nav_sort svg {
  margin-right: 10px;
}
.nav__bar .nav_sort ul {
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav__bar .nav_sort ul li {
  color: rgb(240, 240, 240);
  font-weight: 400;
  padding: 10px;
  border-top: 1px solid white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.nav__bar .nav_sort ul li:hover {
  background-color: rgba(255, 170, 43, 0.4);
}
.nav__bar .nav_sort:hover {
  background-color: rgba(255, 170, 43, 0.4);
}
.nav__bar .nav_sort:hover ul {
  visibility: visible;
  opacity: 100;
}

@media (max-width: 1000px) {
  .nav__bar input {
    margin: 3px;
    min-width: 45px;
  }
  .nav__bar .nav__category li {
    padding: 3px 5px;
  }
  .nav__bar .nav__category li img {
    margin-right: 0;
  }
  .nav__bar .nav__category li h3 {
    display: none;
  }
  .nav__bar .nav_sort {
    padding: 0 5px;
  }
  .nav__bar .nav_sort h3 {
    display: none;
  }
  .nav__bar .nav_sort svg {
    margin: 0;
  }
}